.errorBox{
    margin-top:8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    top: 0;
    position: fixed;
    right: 0;
    width: 20.5rem;
    background-color: rgba($color: red, $alpha: 0.2);
}

.foundErrorText{
    color: rgba($color: #fff, $alpha: 0.9);
    font-size: 18px;
    font-family: sans-serif;
}